{% extends 'fit_tracker/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/dashboard.css' %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/about.css' %}">
<div class=" container-fluid topdiv">
  <div class="container">

    <h3>About</h3>
    <div class="jumbotron">
      <p>This project is a Python and Django application that provides the user with a simple and smooth interface to
        log daily
        training sessions. Other technologies include HTML, CSS, JavaScript, jQuery, and BootStrap. </p>
    </div>
    <a href="https://github.com/Khodnett"
      style="font-size: 14px; float: left; text-align: center; padding-right: 15px;"> <span class="fab fa-github-square"
        style="font-size:70px;  color: #24292f; display: block;"></span>github</a>

    <a href="https://www.linkedin.com/in/kalebhodnett/" style="font-size: 14px; float: left; text-align: center;"> <span
        class="fab fa-linkedin" style="font-size:70px;  color: #183153; display: block;"></span>linkedIn</a>
  </div>
</div>


{% endblock %}