{% extends 'fit_tracker/base.html' %}


{% load static %}
{% block content %}



{% if user.is_authenticated %}


<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'CSS/dashboard.css' %}">




<div class="topdiv">
  <div class="container-fluid">
    <div class="card formcard">
      <h5 class="card-header">Log Workout</h5>
      <div class="card-body">
        <form action="" method="post" class="form-inline">
          {% csrf_token %}
          {% for field in form %}
          {% if field.name == 'name' %}
          <label for="wodate">Title:</label>
          <input id="wotitle" type="text" name="{{ field.name }}" class="form-control mr-3" style="width:35%;" required>

          {% endif %}
          {% if field.name == 'date' %}
          <label for="datepicker"> Date: </label>
          <input autocomplete="off" name="{{ field.name }}" class="form-control" id="datepicker" width="200" required />

          {% endif %}
          {% endfor %}

          <button type="submit" name="save" class="btn btn-success ml-3">Submit</button>

        </form>
        <p style="color: red;">{{ context }}</p>
      </div>
    </div>


  </div>
  <div class="border-top my-3"></div>
  <div class="container-fluid">

  </div>



</div>
<div class="container-fluid">
  <div class="card">
    <h5 class="card-header">Recent Workouts</h5>
    <div class="card-body">

      <table id="example" class="table table-sm table-hover table-bordered dt-responsive nowrap" width="100%">
        <thead class="thead-dark">
          <tr>
            <th style="width:50%;" class="text-center">Date</th>
            <th class="text-center">Title</th>
          </tr>
        </thead>
        <tbody>

          {% for td in user.workoutdate.all %}
          <tr>
            <td id="myTd" class="text-center"><a href="/{{td.id}}"><span>{{td.date |date:'Ymd' }}</span>{{td.date}}</a>
            </td>
            {% for nm in td.workoutname.all %}
            <td id="myTd" class="text-center"><a href="/{{td.id}}">{{ nm }}</a><a data-toggle="modal"
                data-target="#d{{td}}ModalCenter" style="float:right;" name="" href="#"><i class="far fa-times-circle"
                  style="color:grey;"></i></a></td>
            <div class="modal fade" id='d{{td}}ModalCenter' tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalLTitle">Delete Workout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-wrap">
                    Are you sure you want to delete {{td}} {{nm}}?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'delete_workout' td.id  %}" type="button" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              </div>
            </div>


            {% endfor %}
          </tr>
          {% endfor %}


        </tbody>
      </table>



    </div>
  </div>

  <br><br>

</div>

</div>


<script type="text/javascript">
  $(document).ready(function () {
    $('#example').DataTable({
      "order": [[0, "desc"]]
    });
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap4'
    });

  });


</script>


{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/home.css' %}">
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide"
          src="https://images.unsplash.com/photo-1521805103424-d8f8430e8933?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80"
          alt="First slide">
        <div class="container">
          <div id="c1" class="carousel-caption text-left">
            <h1>Log Daily Workouts</h1>
            <p>Easily record workouts and training sessions. Log exercises, weights, sets, and reps in order to track
              progress in the gym and
              stay on track with training goals.
            </p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'login' %}?name=signup" role="button">Sign
                up today</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide"
          src="https://images.unsplash.com/photo-1597076537061-a6b58163aa45?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Customize Exercise Routine</h1>
            <p>Choose your own custom exercises. Edit previous workouts or enter future workouts custome to your
              personal training plan.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'login' %}?name=signup" role="button">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide"
          src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          alt="Third slide">
        <div class="container">
          <div id="c3" class="carousel-caption text-right">
            <h1>Get Started</h1>
            <p>Get started today and begin tracking your progress.</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'login' %}?name=signup" role="button">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Bootstrap core JavaScript
       ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


  {% endif %}
  {% endblock %}